body {
    background-image: url('../imgs/adobeStock_153375459.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    
}



.box {

    word-spacing: 6px;
    background-color: beige;
    border: 2px solid black;
    position: absolute;
    padding: 10px;
    margin: auto;
}

#Digimon {
    position: center;

}

h1 {
    text-align: center;
}